body {
  background-color: #fafafa;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-width: 42em;
  min-width: 15em;
  overflow-x: hidden;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.loading {
  text-align: center;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol.orgs > li {
  border-top: 1px solid #e5e5e5;
  padding: 0.5em;
}

ol.orgs > li > a:first-child {
  font-weight: bold;
}

ol.orgs > li:hover > ol.repos {
  display: block;
}

ol.repos> li > ol.visits {
  padding-left: 1em !important ;
}

ol.visits > li {
  text-overflow: ellipsis;
  overflow: hidden;
}

.octicon {
  padding-right: 3px;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
