body {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 20em;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
  line-height: 24px;
}

ol.orgs > li {
  border-top: 1px solid #ddd;
  padding: 0.5em;
}

ol.orgs > li:hover > ol.repos {
  display: block;
}

ol.repos {
  display: none;
}

ol.repos li {
  padding-left: 1em;
}

a {
  text-decoration: none;
}
